<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="//demo.productionready.io/main.css">
        <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:700|Source+Serif+Pro:400,700|Merriweather+Sans:400,700|Source+Sans+Pro:400,300,600,700,300italic,400italic,600italic,700italic">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-light">
    <div class="container">
        <a class="navbar-brand ng-binding" href="{{ path('home_index') }}">conduit</a>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home_index') }}">
                    Home
                </a>
            </li>
            {% if app.user %}
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_login') }}">
                        Sign in
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">
                        Sign up
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
